[Desktop Entry]
Name=Umi-OCR
Exec=/opt/Umi-OCR-server/start.sh
Terminal=false
Type=Application
StartupWMClass=Umi-OCR
Comment=Umi-OCR image to text
Icon=/opt/Umi-OCR-server/Umi-OCR_logo_full.png
Categories=Utility;
